<%= form_with model: [@question, @answer], local: true do |form| %>
  <%= render 'shared/errors', resource: @answer %>
  <h2>
    <%= @answer.question.body %>
  </h2>
  <div class="actions">
    <%= form.label :body %>
    <%= form.text_area :body, rowx: 7, cols: 60 %>
    <%= form.label :correct %>
    <%= form.check_box :correct %><br>
    <%= form.submit %>
  </div>
<% end %>
